<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/people">People</a></li>
            <li><a href="/planets">Planets</a></li>
            <li><a href="/Starships">Starships</a></li>
            <li><a href="/Films">Films</a></li>
        </ul>
    </nav>

    <h1>StarWars Info</h1>

 {{{ body }}}
<footer>All data comes from <a href="https://swapi.co">swapi.co</a></footer>
</body>
</html>