<div class="people">
    <img src="/images/luke.png" alt="Luke">
    <p>Name: {{luke}}</p>
    <p>Height: {{heightLuke}}</p>
    
    
</div>
<div class="people">
    <p>Name: {{leia}}</p>
    <p>Height: {{heightLeia}}</p>
</div>



